*{
    margin: 0;
    padding: 0;
}

html{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after{
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}


body{
    background-color: gray;
}

.main{
    display: grid;
    justify-content: center;
    align-content: center;
}

.login{
    background-color: darkgray;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

label{
    padding-top: 10px;
    padding-bottom: 5px;
}
