<body style="background-color:grey;">
  <div class="buttons">
    <button (click)="display()">Display All:</button>
    <button (click)="deleteId()">Delete ID:</button>
    <!-- <button (click)="reset()">Repopulate ID:</button> -->
    <button (click)="editBtn()">Edit an ID:</button>
    <button (click)="getId()">Search ID:</button>
    <button (click)="nav('register')">Register:</button>
    <button (click)="nav('login')">Log Out:</button><br>
    <input type="text" name="id" class="input" [formControl]="fcId" placeholder="Enter an ID"/>
  </div>
  <div class="container">
        <table class="table table-striped" >
          <thead>
              <tr>
                <th>No. </th>
                <th>User ID</th>
                <th>User Name</th>
                <th>User Age</th>
                <th>User Email</th>
              </tr>
          </thead>
          <br>
          <br>
          <tbody>
          <ng-container *ngIf="show; then all; else showId;"></ng-container>
            <ng-template #all>
              <tr *ngFor="let result of requestResult; index as i">
                <td>{{ i + 1 }}</td>
                <td>{{ result.id }}</td>   
                <td>{{ result.name }}</td>      
                <td>{{ result.age }}</td>
                <td>{{ result.email }}</td>
                <br><br>
              </tr>
            </ng-template>

            <ng-template #showId>
              <tr *ngIf="showId">
                <td>{{ requestResult.id }}</td>         
                <td>{{ requestResult.name }}</td>   
                <td>{{ requestResult.age }}</td>
                <td>{{ requestResult.email }}</td>
                <td>{{ requestResult.email }}</td>
                <br><br>
              </tr>
            </ng-template>

            
          </tbody>
         
        </table>
          <ng-container *ngIf="editdaid; then edit"></ng-container> 
          <ng-template #edit>
            <div *ngIf="edit">
              <div class="edithtml">
                <form class="inputs" id="edit" method="get" action="login.php" [formGroup] = "editForm" (ngSubmit)="onSubmit()" >
                  <label><b>Name:  <br></b></label>
                  <input type="!name" name="name" id="name" placeholder="Name" formControlName="fcName" placeholder="{{ requestResult.name }}"/><br>
                  <label><b>Age:  <br></b></label>
                  <input type="number" name="Age1" id="Age1" placeholder="Name" formControlName="fcAge" placeholder="{{ requestResult.age }}"/><br>
                  <label><b>Email:  <br></b></label>
                  <input type="email" name="email1" id="email1" placeholder="Email" formControlName="fcEmail" placeholder="{{ requestResult.email }}"/><br> 
                  <label><b>Password:  <br></b></label>
                  <input type="password" name="pass" id="pass2" placeholder="Password" formControlName="fcPassword" /><br>
                  <label><b>Confirm Password:  <br></b></label>
                  <input type="password" name="pass" id="pass" placeholder="Password" formControlName="fcPassword2" /><br>
                  <br><br>
                  <button type="submit" [disabled]="!editForm.valid" id="createAcc" (click)="editId()">
                    EDIT ACCOUNT
                  </button><br><br>
                </form>
              </div>
            </div>
          </ng-template>
      </div>
</body>