<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label>Email</label><input type="email" #emailSignIn>
    <label>Password</label><input type="password" #paasa>
    <button type="submit" (click)="login(emailSignIn.value , paasa.value)">Submit</button>
    <button type="submit" (click)="nav('register')">Create Account</button>
</body>
</html>
